<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{template/layout :: head('Home Page')}">
</head>
<body>

<div id="content" th:fragment="~{template/layout :: content}">
  <h1>Spring forum</h1>
  <div th:if="${user} ne null and ${user.username} ne null">
    <h2 th:text="|Welcome ${user.username}|"></h2>
  </div>
  <form th:unless="${user} ne null and ${user.username} ne null" action="#"
        th:action="@{/create-user}" th:object="${user}" method="post">
    <fieldset>
      <legend>Select a username</legend>
      <label for="username">Username: </label><br>
      <input type="text" id="username" name="username">
      <input type="submit">
    </fieldset>
  </form>

</div>
</body>
</html>