<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{template/layout :: head('Home Page')}">
</head>
<body>

<div id="content" th:fragment="~{template/layout :: content}">
  <h1>Spring forum</h1>
  <div id="header">
    <div th:if="${isAuthenticated} eq true">
      <h2 th:text="|Welcome ${user.username}|"></h2>
      <a th:href="@{/logout}">LogOut</a>
    </div>
    <form th:unless="${isAuthenticated} eq true" action="#"
          th:action="@{/create-user}" th:object="${user}" method="post">
      <fieldset>
        <legend>Select a username</legend>
        <label for="username">Username: </label><br>
        <input type="text" id="username" name="username">
        <input type="submit">
      </fieldset>
    </form>
  </div>

  <div id="newPost" th:if="${isAuthenticated} eq true" >
    <fieldset>
      <legend>What do you think?</legend>
      <form action="#" method="post">
        <input type="text" name="content" >
        <input type="submit" value="Post">
      </form>
    </fieldset>

  </div>

  <div id="allPost">
    <fieldset>
      <legend>All Post</legend>
      <dl>
        <dt><i>2022-07-29 23:29:45</i> || <b>Hai</b></dt>
        <dd>A large feline inhabiting Bodmin Moor.</dd>
      </dl>
      <ul>
        <li>Milk</li>
        <li>Cheese
        </li>
      </ul>
      <form action="#" method="post" th:if="${isAuthenticated} eq true">
        <input type="text" name="comment">
        <input type="submit" value="Comment">
      </form>
      <hr>

      <dl>
        <dt><i>2022-07-29 23:29:45</i> || <b>Hai</b></dt>
        <dd>A large feline inhabiting Bodmin Moor.</dd>
      </dl>
      <ul>
        <li>Milk</li>
        <li>Cheese
        </li>
      </ul>
      <form action="#" method="post" th:if="${isAuthenticated} eq true">
        <input type="text" name="comment">
        <input type="submit" value="Comment">
      </form>
      <hr>
    </fieldset>


  </div>

</div>
</body>
</html>